<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  
        
  
        <ion-card>
          <ion-card-header>
            <ion-card-title>What's up?</ion-card-title>
            <ion-card-subtitle>Tell the world</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-input></ion-input>
            <ion-button>Toot!</ion-button>
          </ion-card-content>
        </ion-card>
        
</ion-content>
